<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/nav' %>


<% if params[:id] != nil %>
<% @url = '/user/'+ params[:id] %>
  <% if current_page?(@url) %>

      <div class="profile-banner" style="background:url(/wallpaper_nice.jpg)no-repeat center center; background-size:cover; ">

      </div>
      <div class="row">
        <div class="col-sm-12" style="background-color:white;">
            <div class="container">
              <div class="col-sm-3">
                &nbsp;
              </div>

              <div class="col-sm-6" style="margin-top: 5px;">
                <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;"> TWEETS<br>
                    <h6 style="color:#55acee; font-size: 150%; "><%= @tweets%></h6></div>
                <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">  FOLLOWERS<br>
                    <h6 style="color:#55acee; font-size: 150%;">16</h6></div>
              </div>
              <div class="col-xs-3">
            <a href="/users/edit<%= %>"><li type="button" class="btn btn-default" style="color:grey; opacity:0.8; font-weight:bold; margin-top:10px;float:right;">EDIT PROFILE</li></a>

              </div>
            </div>
            </div>
        </div>
      </div>
  <%end%>
<%end%>

<div class="container">
  <span class="notice"><%= notice %></span>
     <span class="alert"><%= alert %></span>
<%= yield %>
</div>

</body>
</html>
